<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LoginMapper">
<select id="formaldupcheck" parameterType="String" resultType="Integer">
	select count(user_id) from formal_user where user_id=#{user_id} 
	</select>
	<select id="companyDupCheck" parameterType="String" resultType="Integer">
	select count(company_id) from company_user where company_id=#{company_id}
	</select>
	<insert id="formalregister" parameterType="model.FormalUser">
	insert into formal_user values(#{user_id},#{user_pwd},#{user_email},#{user_name},#{user_addr},#{user_phone},#{user_state})
	</insert>
	<insert id="companyregister" parameterType="model.CompanyUser">
	insert into company_user values(#{company_id},#{company_reg},#{company_name},#{company_pwd},#{company_phone},#{company_addr},#{company_manager},#{company_email},#{company_state})
	</insert>
	<select id="formalGetIDPWD" parameterType="String" resultType="model.FormalUser">
	select user_id,user_pwd from formal_user where user_id=#{user_id}
	</select>
	<select id="companyGetIDPWD" parameterType="String" resultType="model.CompanyUser">
	select company_id,company_pwd from company_user where company_id=#{company_id}
	</select>
</mapper>