<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="mapper/LoginMapper.xml"/>
		<mapper resource="mapper/SecondhandMapper.xml"/>
		<mapper resource="mapper/SecondhandCommentMapper.xml"/>
		<mapper resource="mapper/ItemMapper.xml"/>
		<mapper resource="mapper/ItemCartMapper.xml"/>
		<mapper resource="mapper/BBSMapper.xml"/>
		<mapper resource="mapper/BBSCommentMapper.xml"/>
	</mappers>
</configuration>