<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BBSMapper">
	<select id="getMaxSeqno" resultType="Integer">
		select max(bbs_seqno) from bbs
	</select>
	<insert id="insertBBS" parameterType="model.BBS">
		insert into bbs
		values(#{bbs_seqno},#{bbs_code},#{bbs_title},#{bbs_writer},#{bbs_image,jdbcType=VARCHAR},#{bbs_content},
		to_date(#{bbs_date},'yyyy/mm/dd
		hh24:mi:ss'),#{bbs_hot},#{bbs_password},#{bbs_state})
	</insert>
	<select id="getBBSDetail" parameterType="Integer" resultType="model.BBS">
		select * from bbs where bbs_seqno=#{bbs_seqno}
	</select>
	<select id="getFreeBBSList" parameterType="model.Condition"
		resultType="model.BBS"> <!-- 게시판에 표시할 글 번호는 rownum임 seqno는 식별을 위해 가져온다. -->
		select rn,bbs_seqno,bbs_title,bbs_writer,bbs_date,bbs_hot,bbs_state from (select
		a.*,rownum as rn from(select * from bbs where bbs_code=1 order by
		bbs_seqno asc)a) where rn between #{startRow} and #{endRow} order by rn desc
	</select>
	<select id="getHobbitBBSList" parameterType="model.Condition"
		resultType="model.BBS"> <!-- 게시판에 표시할 글 번호는 rownum임 seqno는 식별을 위해 가져온다. -->
		select rn,bbs_seqno,bbs_title,bbs_writer,bbs_date,bbs_hot,bbs_state from (select
		a.*,rownum as rn from(select * from bbs where bbs_code=2 order by
		bbs_seqno asc)a) where rn between #{startRow} and #{endRow} order by rn desc
	</select>
	<select id="getReadBBSList" parameterType="model.Condition"
		resultType="model.BBS"> <!-- 게시판에 표시할 글 번호는 rownum임 seqno는 식별을 위해 가져온다. -->
		select rn,bbs_seqno,bbs_title,bbs_writer,bbs_date,bbs_hot,bbs_state from (select
		a.*,rownum as rn from(select * from bbs where bbs_code=3 order by
		bbs_seqno asc)a) where rn between #{startRow} and #{endRow} order by rn desc
	</select>
	<select id="getFreeBBSTotal" resultType="Integer">
		select count(*) from bbs where bbs_code=1
	</select>
	<select id="getHobbitBBSTotal" resultType="Integer">
		select count(*) from bbs where bbs_code=2
	</select>
	<select id="getReadBBSTotal" resultType="Integer">
		select count(*) from bbs where bbs_code=3
	</select>
	<update id="addHot" parameterType="Integer">
		update bbs set bbs_hot=bbs_hot+1 where bbs_seqno=#{bbs_seqno}
	</update>
	<select id="checkHot" parameterType="model.BBS_Hot" resultType="Integer">
		select count(*) from bbs_hot where bbs_seqno=#{bbs_seqno} and formal_user_id=#{formal_user_id}
	</select> 
	<insert id="addHotTable" parameterType="model.BBS_Hot">
		insert into bbs_hot values(#{bbs_seqno},#{formal_user_id})
	</insert>
	<delete id="deleteBBS" parameterType="Integer">
		delete from bbs where bbs_seqno=#{bbs_seqno}
	</delete>
	<select id="getBBSImage" parameterType="Integer" resultType="String"> 
		select bbs_image from bbs where bbs_seqno=#{bbs_seqno}
	</select>
	<update id="modifyBBS" parameterType="model.BBS">
		update bbs set bbs_title=#{bbs_title},bbs_writer=#{bbs_writer},bbs_image=#{bbs_image,jdbcType=VARCHAR},
		bbs_content=#{bbs_content} where bbs_seqno=#{bbs_seqno}
	</update>
	<select id="getMineBBS" parameterType="String" resultType="model.BBS"> 
		select * from bbs where bbs_writer=#{bbs_writer}
	</select>
	<select id="getFreeByWriter" parameterType="String" resultType="model.BBS">
	select * from bbs where bbs_code=1 and bbs_writer like '%' || #{writer} || '%' order by bbs_date desc
	</select>
	<select id="getFreeByContent" parameterType="String" resultType="model.BBS">
	select * from bbs where bbs_code=1 and bbs_content like '%' || #{content} || '%' order by bbs_date desc
	</select>
	<select id="getFreeByTitle" parameterType="String" resultType="model.BBS">
	select * from bbs where bbs_code=1 and bbs_title like '%' || #{title} || '%' order by bbs_date desc
	</select>
	<select id="getHobbitByWriter" parameterType="String" resultType="model.BBS">
	select * from bbs where bbs_code=2 and bbs_writer like '%' || #{writer} || '%' order by bbs_date desc
	</select>
	<select id="getHobbitByContent" parameterType="String" resultType="model.BBS">
	select * from bbs where bbs_code=2 and bbs_content like '%' || #{content} || '%' order by bbs_date desc
	</select>
	<select id="getHobbitByTitle" parameterType="String" resultType="model.BBS">
	select * from bbs where bbs_code=2 and bbs_title like '%' || #{title} || '%' order by bbs_date desc
	</select>
	<select id="getReadByWriter" parameterType="String" resultType="model.BBS">
	select * from bbs where bbs_code=3 and bbs_writer like '%' || #{writer} || '%' order by bbs_date desc
	</select>
	<select id="getReadByContent" parameterType="String" resultType="model.BBS">
	select * from bbs where bbs_code=3 and bbs_content like '%' || #{content} || '%' order by bbs_date desc
	</select>
	<select id="getReadByTitle" parameterType="String" resultType="model.BBS">
	select * from bbs where bbs_code=3 and bbs_title like '%' || #{title} || '%' order by bbs_date desc
	</select>
</mapper>