<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LoginMapper">
	<select id="visitCheck" parameterType="String" resultType="Integer">
		select visitors_num from visitors where visitors_date=to_date(#{today},'yyyy/MM/dd')
	</select>
	<update id="visitAdder" parameterType="String">
		update visitors set visitors_num=visitors_num+1 where visitors_date=to_date(#{today},'yyyy/MM/dd')
	</update>
	<insert id="visitrCreate" parameterType="String">
		insert into visitors values(to_date(#{today},'yyyy/MM/dd'),1)
	</insert>
	<select id="visitSum" resultType="Integer">
		select sum(visitors_num) from visitors
	</select>
	<select id="visitToday" resultType="Integer">
		select visitors_num from visitors where visitors_date=to_date(sysdate,'yy/MM/dd')
	</select>

<select id="formaldupcheck" parameterType="String" resultType="Integer">
	select count(user_id) from formal_user where user_id=#{user_id} 
	</select>
	<select id="companyDupCheck" parameterType="String" resultType="Integer">
	select count(company_id) from company_user where company_id=#{company_id}
	</select>
	<insert id="formalregister" parameterType="model.FormalUser">
	insert into formal_user values(#{user_id},#{user_pwd},#{user_email},#{user_name},#{user_addr},#{user_phone},#{user_state})
	</insert>
	<insert id="companyregister" parameterType="model.CompanyUser">
	insert into company_user values(#{company_id},#{company_reg},#{company_name},#{company_pwd},#{company_phone},#{company_addr},#{company_manager},#{company_email},#{company_state})
	</insert>
	<select id="formalGetIDPWD" parameterType="String" resultType="model.FormalUser">
	select * from formal_user where user_id=#{user_id}
	</select>
	<select id="companyGetIDPWD" parameterType="String" resultType="model.CompanyUser">
	select * from company_user where company_id=#{company_id}
	</select>
	<select id="adminGetIDPWD" parameterType="String" resultType="model.AdminUser">
	select * from admin_user where admin_id=#{admin_id}
	</select>
	<select id="formalGetID" parameterType="String" resultType="String">
	select user_id from formal_user where user_email=#{user_email}
	</select>
	<select id="companyGetID" parameterType="String" resultType="String">
	select company_id from company_user where company_email=#{company_id}
	</select>
	<select id="formalGetPWD" parameterType="model.FormalUser" resultType="Integer">
	select count(*) from formal_user where user_email=#{user_email} and user_id=#{user_id}
	</select>
	<select id="companyGetPWD" parameterType="model.CompanyUser" resultType="Integer">
	select count(*) from company_user where company_email=#{company_email} and company_id=#{company_id}
	</select>
	<update id="formalchangePWD" parameterType="model.FormalUser">
	update formal_user set user_pwd=#{user_pwd} where user_id=#{user_id}
	</update>
	<update id="companychangePWD" parameterType="model.CompanyUser">
	update company_user set company_pwd=#{company_pwd} where company_id=#{company_id}
	</update>
	<update id="formalChangeInfo" parameterType="model.FormalUser">
	update formal_user set user_pwd=#{user_pwd},user_name=#{user_name},user_email=#{user_email},
	user_addr=#{user_addr},user_phone=#{user_phone} where user_id=#{user_id}
	</update>
	<delete id="formalDelete" parameterType="String">
	delete from formal_user where user_id=#{user_id}
	</delete>
	<update id="companyChangeInfo" parameterType="model.CompanyUser">
	update company_user set company_pwd=#{company_pwd},company_name=#{company_name},company_email=
	#{company_email},company_manager=#{company_manager},company_phone=#{company_phone},company_addr=#{company_addr}
	where company_id = #{company_id}
	</update>
	<delete id="companyDelete" parameterType="String">
	delete from company_user where company_id=#{company_id}
	</delete>
	<update id="adminChangePWD" parameterType="model.AdminUser">
	update admin_user set admin_pwd=#{admin_pwd} where admin_id=#{admin_id}
	</update>
</mapper>