<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SecondhandMapper">
	<select id="getMaxSeqno" resultType="Integer">
	select max(secondhand_seqno) from secondhand
	</select>
	<insert id="insertSecondHand" parameterType="model.Secondhand">
	insert into secondhand values (#{secondhand_seqno},#{secondhand_title},#{secondhand_writer},
	#{secondhand_local},#{secondhand_price},#{secondhand_image},#{secondhand_content},
	to_date(#{secondhand_date},'yyyy/mm/dd hh24:mi:ss'))
	</insert>
	<select id="getSecondHandList" parameterType="model.Condition" resultType="model.Secondhand" >
	select secondhand_seqno,secondhand_image,secondhand_title,secondhand_writer,secondhand_price,secondhand_date,secondhand_local from (
 		select a.*, rownum rn from (
 			(select * from secondhand order by secondhand_seqno desc)a
 			) 
 	) where rn between #{startRow} and #{endRow}
	</select>
	<select id="getSecondHandCount" resultType="Integer">
	select count(*) from secondhand
	</select>
	<select id="getSecondHandDetail" parameterType="Integer" resultType="model.Secondhand">
	select * from secondhand where secondhand_seqno=#{secondhand_seqno}
	</select>
	<delete id="deleteSecondHand" parameterType="Integer">
	delete from secondhand where secondhand_seqno=#{secondhand_seqno} 
	</delete>
	<update id="modifySecondHand" parameterType="Integer">
	update secondhand set secondhand_title=#{secondhand_title},secondhand_local=#{secondhand_local},
	secondhand_price=#{secondhand_price},secondhand_image=#{secondhand_image},secondhand_content=#{secondhand_content}
	where secondhand_seqno=#{secondhand_seqno}
	</update>
	<select id="getImage" parameterType="Integer" resultType="String">
		select secondhand_image from secondhand where secondhand_seqno=#{secondhand_seqno}
	</select>
	<select id="getSecondHandByWriter" parameterType="String" resultType="model.Secondhand">
	select * from secondhand where secondhand_writer like '%' || #{writer} || '%' order by secondhand_seqno desc
	</select>
	<select id="getSecondHandByContent" parameterType="String" resultType="model.Secondhand">
	select * from secondhand where secondhand_content like '%' || #{content} || '%' order by secondhand_seqno desc
	</select>
	<select id="getSecondHandByTitle" parameterType="String" resultType="model.Secondhand">
	select * from secondhand where secondhand_title like '%' || #{title} || '%' order by secondhand_seqno desc
	</select>
</mapper>