<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SecondhandMapper">
	<select id="getMaxSeqno" resultType="Integer">
	select max(secondhand_seqno) from secondhand;
	</select>
	<insert id="insertSecondHand" parameterType="model.Secondhand">
	insert into secondhand values (#{secondhand_seqno},#{secondhand_title},#{secondhand_writer},
	#{second_local},#{second_price},#{secondhand_image},#{secondhand_content},
	to_date(#{secondhand_date},'yyyy/mm/dd/ hh24:mi:ss'))
	</insert>
</mapper>